<%- include('../partials/header');%>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Matcha</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active">Suggestions</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
          <a href="/logout" class="nav-link">logout</a>
      </li>
      <a href="/chat" class="nav-link active"><i class="fa fa-comments" style="color: grey;" aria-hidden="true"></i></a>
      <li class="nav-item">
        <div class="dropdown">
          <a href="#" class="dropbtn">
            <!-- Dropdown<i class="fa fa-caret-down"></i> -->
            <!-- Notifications<i class="fa fa-bell" aria-hidden="true"></i> -->
            <i class="fa fa-bell" style="color: grey;" aria-hidden="true"></i>
          </a>
          <div class="dropdown-content">
            <!-- <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
            <% if (getNotified !== undefined) { %>
              <% getNotified.forEach(function (result) { %>
                <a href="/view/viewfrom=<%=data.username%>/viewto=posiblematch">
                  <!-- <a href="/view/viewfrom=<%//=data.username%>/viewto=<%//=params.otherUserUsername%>"> -->
                  <%=result%>
                </a>
              <% }) %>
            <% } %>
          </div>
        </div>
    </li>
    </ul>

    <form class="form-inline" action="/search-filter" method="post">
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" >
          Filter:
        </button>

        <div class="dropdown-menu">
          <h5 class="dropdown-header">Age-range:</h5>
            <div class="age-radio">
              <label><input type="radio" name="ageRadio" value="18-30" checked>18-30 years</label>
            </div>
            <div class="age-radio">
              <label><input type="radio" name="ageRadio" value="30-40">30-40 years</label>
            </div>
            <div class="age-radio">
              <label><input type="radio" name="ageRadio" value="40-60">40-60 years</label>
            </div>

            <div class="dropdown-divider"></div>
            <h5 class="dropdown-header">Fame rate-range:</h5>
            <div class="fame-radio">
              <label><input type="radio" name="fameRadio" value="1-5" checked>1-5 Rating</label>
            </div>
            <div class="fame-radio">
              <label><input type="radio" name="fameRadio" value="5-10">5-10 Rating</label>
            </div>

            <div class="dropdown-divider"></div>
            <h5 class="dropdown-header">People in your Area</h5>
            <div class="distance-radio">
              <label><input type="radio" name="distanceRadio" value="5" checked>5 km</label>
            </div>
            <div class="distance-radio">
              <label><input type="radio" name="distanceRadio" value="10">10 km</label>
            </div>
            <div class="distance-radio">
              <label><input type="radio" name="distanceRadio" value="15">15 km</label>
            </div>
              <div class="dropdown-divider"></div>
                <h5 class="dropdown-header">Sort by</h5>
                <div class="form-check">
                  <label class="form-check-label" for="ageSort"></label>
                  <input type="checkbox" name="ageSort" value="ageSort" class="form-check-input">Age
                </div>

                <div class="form-check">
                  <label class="form-check-label" for="LocationSort"></label>
                  <input type="checkbox" name="distanceSort" value="distanceSort" class="form-check-input">Location
                </div>


                <div class="form-check">
                  <label class="form-check-label" for=""></label>
                  <input type="checkbox" name="fameSort" value="fameSort" class="form-check-input">Famerate
                </div>

                <div class="dropdown-divider"></div>
                <input type="submit" value="Search">
        </div>
      </div>
    </form>
  </div>
  <div id="search">
    <form class="form-inline d-flex justify-content-center md-form form-sm" action="/searchResult" method="POST">
      <input class="form-control form-control-sm mr-3 w-75" type="text" name="searchResult" placeholder="Search" aria-label="Search">
      <button type="submit" class="btn btn-success">
        <i class="fas fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</nav>
<!-- <div class="title">
  <h2 class="card_h2" style="color: white;">Love around you ...</h2>
</div>

<div id="near-users">
  <%//if (data.age !== null) {%>
    <div class="near-users">
      <h3><%//=data.firstName%> <%=//data.lastName%></h3>
      <p>age: <%//=data.age%><br><h2 onclick="displayInterests()">Interests:</h2> <div id="interests" ></div></p>
    </div>
  <%//}%>
</div> -->

<% data.otherUser.forEach(function(user){ %>
    <% data.peopleNames.forEach(function(params){ %> 
      <% if (params.otherUserUsername === user.otherUsername) {%>
        <% data.otherImages.forEach(function(image) { %>
          <% if (params.otherUserUsername === image.username) {%>
            <!-- <div class="card"> -->
            <div>
              <img src="<%=image.imagePath%>" class="displayProfilePic" alt="Avatar" >
              <div class="container">
                <h4><b><%=params.otherFirstName%> <%=params.otherLastName%></b></h4>
                <p><%=user.otherAge%></p>
                <a href="/like/liketo=<%=params.otherUserUsername%>/likefrom=<%=data.username%>"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                <a href="/view/viewfrom=<%=data.username%>/viewto=<%=params.otherUserUsername%>">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-star" style="color:gold;" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          <% } %>
        <% }); %>
      <% } %>
    <% }); %>
<% }); %>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<%- include('../partials/header');%>